[build-system]
requires = ["setuptools>=61.0", "wheel"]
build-backend = "setuptools.build_meta"

[project.urls]
"Homepage" = "https://github.com/ByteDance-Seed/VeOmni"
"Source Code" = "https://github.com/ByteDance-Seed/VeOmni"

[project]
name = "veomni"
dynamic = ["version"]
description = "VeOmni: Scaling any Modality Model Training to any Accelerators with PyTorch native Training Framework"
authors = [
  { name="Fazzie", email="maqianli.fazzie@bytedance.com" },
]
requires-python = ">=3.8.0"
license = { file = "LICENSE" }

dependencies = [
  "blobfile>=3.0.0",
  "datasets>=2.16.0,<=2.21.0",
  "packaging>=23.0,<26.0",
  "torchdata>=0.8.0,<1.0",
  "tiktoken>=0.9.0",
  "diffusers>=0.30.0,<=0.31.0",
  "transformers[torch]>=4.51.3,<4.57.0",
]

[project.optional-dependencies]
bytecheckpoint = [
  "bytecheckpoint",
]
dev = [
    "pre-commit>=4.0.0,<5.0",
    "ruff>=0.7.0,<1.0",
    "pytest>=6.0.0,<8.0",
    "expecttest>=0.3.0,<0.4"
]
audio = [
    "av>=14.3.0,<15.0",
    "librosa>=0.11.0,<0.12",
    "soundfile>=0.13.1,<0.14"
]
dit = [
    "diffusers>=0.30.0,<=0.31.0",
    "bitsandbytes>=0.46.0,<=0.47.0"
]
npu = [
    "torchvision>=0.16.0,<0.16.1"
]
gpu =[
  "liger-kernel>=0.5.5,<=0.5.6",
  "flash-attn==2.6.3",
]
megatron = [
  "megatron-energon>=7.2.1"
]

[tool.setuptools.dynamic]
version = {attr = "veomni.__version__"}

[tool.setuptools.packages.find]
where = ["."]
exclude = ["tests*", "ci*", "configs*", "veomni_patch", "tasks", "scripts"]

[tool.ruff]
target-version = "py38"
line-length = 119
indent-width = 4

[tool.ruff.lint]
ignore = ["C901", "E501", "E741", "W605", "C408"]
select = ["C", "E", "F", "I", "W"]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["E402", "F401", "F403", "F811"]

[tool.ruff.lint.isort]
lines-after-imports = 2
known-first-party = ["veomni"]
known-third-party = ["torch", "transformers", "vescale", "wandb"]

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"
